/* General Styles */
body {
    display:flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(14, 13, 13);
    background: url("../images/galloping-horses2.jpg") center/cover, center, no-repeat;
}

/* Header */
header {
    display: block;
    width: 100%;
    align-items: baseline;
    background-color: rgb(244, 244, 244);
    opacity: calc(0.7);
    box-shadow: 10px 10px 10px 10px;
    border-radius:10px ;
}

/* Main */
Main {
    /* Enlarge main element to push footer down */
    flex: 1 0 auto;
    display: flex;
}

/* Footer */
#social-media {
    text-align: center;
    padding: 45px o;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: rgb(244, 244, 244);
    opacity: calc(0.7);
    box-shadow: 10px 10px 10px 10px;
    border-radius:10px ;
}

#social-media i {
    font-size: 200%;
    padding: 11%;
    color: rgb(21, 128, 236);
}

/* FAQ */
#faq {
    background-color: aliceblue;
    opacity:calc(0.7) ;
    box-shadow: 10px 10px 10px 10px;
    border-radius:10px ;
}